---
import { getCollection } from "astro:content";
import { Image } from "astro:assets"

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import PostCard from "@/components/PostCard.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Link from "@/components/shared/Link.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/presentation";
import projects from "@/data/projects";

const posts = (await getCollection("posts")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout>
  <main class="flex flex-col gap-20">
    <article
      class="flex flex-col gap-8 md:flex-row-reverse md:justify-end md:gap-12"
    >
      {
        presentation.profile && (
          <Image
            src={presentation.profile}
            class="w-1/4 self-center rounded-full"
            alt="Your Profile"
            width="200"
            height="200"
          />
        )
      }

      <div class="flex flex-col gap-8">
        <h1 class="text-3xl text-neutral-100">
          {presentation.title}
        </h1>

        <h2
          class="w-auto max-w-[60ch] leading-6"
          set:html={convertAsteriskToStrongTag(presentation.description)}
        />
        <div class="flex flex-row gap-6">
        <style>
          .Btn {
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: transparent;
            position: relative;
            /* overflow: hidden; */
            border-radius: 7px;
            cursor: pointer;
            transition: all .3s;
          }

          .svgContainer {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            backdrop-filter: blur(0px);
            letter-spacing: 0.8px;
            border-radius: 10px;
            transition: all .3s;
            border: 1px solid rgba(156, 156, 156, 0.466);
          }

          .BG {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background: #3a3a41;
            z-index: -1;
            border-radius: 10px;
            pointer-events: none;
            transition: all .3s;
          }

          .Btn:hover .BG {
            transform: rotate(35deg);
            transform-origin: bottom;
          }

          .Btn:hover .svgContainer {
            background-color: rgba(156, 156, 156, 0.466);
            backdrop-filter: blur(4px);
          }

        </style>
        <button class="Btn">
            <span class="svgContainer">
                <svg fill="white" viewBox="0 0 496 512" height="1.6em"><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"></path></svg>
            </span>
          <span class="BG"></span>
        </button>
        <button class="Btn">
            <span class="svgContainer">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" fill="white" height="1.6em"><g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(8.53333,8.53333)"><path d="M26.37,26l-8.795,-12.822l0.015,0.012l7.93,-9.19h-2.65l-6.46,7.48l-5.13,-7.48h-6.95l8.211,11.971l-0.001,-0.001l-8.66,10.03h2.65l7.182,-8.322l5.708,8.322zM10.23,6l12.34,18h-2.1l-12.35,-18z"/></g></g></svg>
            </span>
          <span class="BG"></span>
        </button>
        </div>
        <!--<SocialLinks />-->
      </div>

    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row gap-3">
        <svg stroke="white" fill="none" stroke-width="2.5" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="2.3rem" xmlns="http://www.w3.org/2000/svg"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M14.5 4h2.5a3 3 0 0 1 3 3v10a3 3 0 0 1 -3 3h-10a3 3 0 0 1 -3 -3v-5"></path><path d="M6 5l-2 2l2 2"></path><path d="M10 9l2 -2l-2 -2"></path></svg>
        <h3 class="text-lg text-neutral-100 m-1"></h3>
        <!--<Link href="posts" label="See all posts" isUnderline target="_self" />-->
      </header>
      <!-- {posts.length === 0 && <p>Soon, stay connected 👀...</p>} -->
      <div class="flex md:flex-row flex-col gap-2">
        <div class="w-full md:w-3/4 p-4 text-center text-grey-lighter border rounded-xl border-gray-600">
          <div class="text-start font-semibold text-2xl p-2 mb-3 ">Passionate to pursue.</div>
          <p class="text-left p-3 font-medium">I enjoy learning new things and try to overcome new challenges while analyzing how I improved through them.</p>
          <div class="grid grid-cols-2 gap-2 m-5 justify-items-start">
            <a href="#"><img class="rounded hover:brightness-150 duration-300" alt="linux" src="https://img.shields.io/badge/C-454955?style=for-the-badge&logo=c&logoColor=white"></a>
            <a href="#"><img class="rounded hover:brightness-150 duration-300" alt="linux" src="https://img.shields.io/badge/C%2B%2B-454955?style=for-the-badge&logo=c%2B%2B&logoColor=white"></a>
            <a href="#"><img class="rounded hover:brightness-150 duration-300" alt="linux" src="https://img.shields.io/badge/Rust-c81d25?style=for-the-badge&logo=rust&logoColor=white"></a>
            <a href="#"><img class="rounded hover:brightness-150 duration-300" alt="linux" src="https://img.shields.io/badge/Linux-454955?style=for-the-badge&logo=linux&logoColor=white"></a>
            <a href="#"><img class="rounded hover:brightness-150 duration-300" alt="linux" src="https://img.shields.io/badge/React-11bed8?style=for-the-badge&logo=react&logoColor=white"></a>
            <a href="#"><img class="rounded hover:brightness-150 duration-300" alt="linux" src="https://img.shields.io/badge/Python-52b788?style=for-the-badge&logo=python&logoColor=white"></a>
            <a href="#"><img class="rounded hover:brightness-150 duration-300" alt="linux" src="https://img.shields.io/badge/TypeScript-007ACC?style=for-the-badge&logo=typescript&logoColor=white"></a>
            <a href="#"><img class="rounded hover:brightness-150 duration-300" alt="linux" src="https://img.shields.io/badge/JavaScript-ffe066?style=for-the-badge&logo=javascript&logoColor=f17300"></a>
          </div>
        </div>
        <div class="w-full md:w-1/4 p-4 text-center text-grey-darker border border-gray-600 rounded-xl">2</div>
      </div>
      <!-- <section class="flex flex-col gap-4 md:flex-row md:flex-wrap">
        {
          posts.length !== 0 &&
            posts
              .slice(0, 2)
              .map((post) => (
                <PostCard
                  publishedAt={post.data.publishedAt}
                  title={post.data.title}
                  description={post.data.description}
                  slug={post.slug}
                />
              ))
        } -->
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row gap-5">
        <svg stroke="currentColor" fill="white" stroke-width="0" viewBox="0 0 640 512" height="1.5rem" xmlns="http://www.w3.org/2000/svg"><path d="M384 320H256c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h128c17.67 0 32-14.33 32-32V352c0-17.67-14.33-32-32-32zM192 32c0-17.67-14.33-32-32-32H32C14.33 0 0 14.33 0 32v128c0 17.67 14.33 32 32 32h95.72l73.16 128.04C211.98 300.98 232.4 288 256 288h.28L192 175.51V128h224V64H192V32zM608 0H480c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h128c17.67 0 32-14.33 32-32V32c0-17.67-14.33-32-32-32z"></path></svg>
        <h3 class="text-lg text-neutral-100">
          Projects
        </h3>
      </header>
      {projects.length === 0 && <p>Oops, I must work^^^^^</p>}

      <section class="flex flex-col gap-4">
        {
          projects.length !== 0 &&
            projects.map((project) => <ProjectCard {...project} />)
        }
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Get in touch</h3>
      </header>
      <!--<p>
        Email me at <Link
          href={`mailto:${presentation.mail}`}
          label={presentation.mail}
        /> or follow me via my social links.
      </p>
-->
      <SocialLinks />
    </article>
  </main>
</Layout>
